# Se completará durante la integración con OCI Generative AI.
OCI_CONFIG_FILE=~/.oci/config
OCI_CONFIG_PROFILE=DEFAULT
OCI_COMPARTMENT_ID=ocid1.compartment.oc1..REEMPLAZAR
OCI_REGION=us-chicago-1
OCI_GENERATIVE_AI_ENDPOINT=
